/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #2b752b;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #c3ffc3;
}

/* Sección Hero */
.hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 150px 0;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #2b752b;
}

.hero-description {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.btn {
    background-color: #2b752b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1c501c;
}

/* Sección Acerca de */
.about {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2b752b;
    font-family: 'Montserrat', sans-serif;
}

.about p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

/* Sección Características */
.features {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #2b752b;
}

.feature {
    text-align: center;
    margin: 0 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
}

.feature i {
    font-size: 48px;
    color: #2b752b;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #2b752b;
}

.feature p {
    font-size: 18px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

/* Footer */
footer {
    background-color: #2b752b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}

/* Fuentes personalizadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Iconos */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
