/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #c8ed72;
}

/* Encabezado */
header {
    background-color: transparent;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.5s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #c8ed72;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #c8ed72;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #94af57;
}

/* Sección Hero */
.hero {
    background-image: url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 2s ease;
}

/* Botón Genérico */
.btn {
    display: inline-block;
    background-color: #94af57;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #c8ed72;
    transform: scale(1.1);
}

/* Sección de Servicios */
.services {
    padding: 50px 0;
    text-align: center;
    animation: slideInLeft 1s ease;
}

.services h2 {
    font-size: 36px;
}

.service {
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.service:hover {
    transform: scale(1.05);
}

.service h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* Sección de Contacto */
.contact {
    background-color: #141414;
    color: #c8ed72;
    padding: 50px 0;
    text-align: center;
    animation: slideInRight 1s ease;
}

.contact p {
    font-size: 24px;
    margin: 10px 0;
}

/* Pie de Página */
footer {
    background-color: transparent;
    color: #c8ed72;
    text-align: center;
    padding: 20px 0;
    animation: fadeIn 2s ease;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
